.menubutton{
    margin-left: 10px;
}


.footercontent{
    color:  rgb(226, 224, 224);
}

.icon{
    color:  rgb(226, 224, 224);
}

.selected {
    background-color: rgb(226, 224, 224);
    color:rgb(0, 0, 0);
}
.black{
    color:black;
}

