<!DOCTYPE html>
<html>
  <head>
      <title>Municipath</title>
  </head>
  <body>
    <p>
      <mat-toolbar color="primary">
        <mat-toolbar-row>
          <span style="color: black;">Municipath</span>
          <span class="spacer"></span>
          <a href="#">
            <button mat-icon-button class="nav-link">
              <mat-icon style="color: black;">home</mat-icon>
            </button>
          </a>
          <a href="#">
            <button mat-icon-button class="example-icon favorite-icon">
              <mat-icon style="color: black;">favorite</mat-icon>
            </button>
          </a>
          <a href="#">
            <button mat-icon-button class="example-icon">
              <mat-icon style="color: black;">share</mat-icon>
            </button>
          </a>
        </mat-toolbar-row>
      </mat-toolbar>
    </p>

    <router-outlet></router-outlet>

    <mat-card class="fooder">
      <mat-card-content class="footercontent">
        Copyright © 2023-2024 Synk Group | All Rights Reserved.
      </mat-card-content>
    </mat-card>
  </body>
</html>

