<p>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span style="color: black; margin-right: 10px;">MuniciPath</span>
      <span class="spacer"></span>
        <button mat-icon-button class="menubutton" [routerLink]="['']" [ngClass]="{'selected': isHomePage()}">
          <mat-icon class="icon" [ngClass]="{'selected': isHomePage()}">
            home
          </mat-icon>
        </button>
        <button mat-icon-button class="menubutton" (click)="share()" >
          <mat-icon style="color: black;">
            share
          </mat-icon>
        </button>
        <div *ngIf="!isLogged(); then bloccoVero else bloccoFalso"></div>
        <ng-template #bloccoVero>
          <button mat-icon-button  class="menubutton" [matMenuTriggerFor]="menu" [ngClass]="{'selected': isLogged()} ">
            <mat-icon [ngClass]="{'selected': isLogged()}" [ngClass]="{'black': !isLogged()}"> 
              account_circle
            </mat-icon>
          </button>
          <mat-menu #menu="matMenu" class="my-menu">
            <button mat-menu-item [routerLink]="['/log/login']">Login</button>
            <button mat-menu-item [routerLink]="['/log/signin']">Sign In</button>
          </mat-menu>
        </ng-template>
        <ng-template #bloccoFalso>
          <button mat-icon-button  class="menubutton" [matMenuTriggerFor]="menu" [ngClass]="{'selected': isLogged()} ">
            <mat-icon [ngClass]="{'selected': isLogged()}" [ngClass]="{'black': !isLogged()}"> 
              account_circle
            </mat-icon>
          </button>
          <mat-menu #menu="matMenu" class="my-menu">
            <button mat-menu-item [routerLink]="['/profile']">Profile</button>
            <button mat-menu-item (click)="logout()">Logout</button>
          </mat-menu>
        </ng-template>
        <div *ngIf="isManager; then bloccoValidazione"></div>
        <ng-template #bloccoValidazione>
          <button mat-icon-button  class="menubutton" [routerLink]="['/accountValidation']">
            <mat-icon style="color: black;">
              check_circle_outline
            </mat-icon>
          </button>
        </ng-template>
    </mat-toolbar-row>
  </mat-toolbar>
</p>
<router-outlet></router-outlet>
<footer>
  © 2024 MuniciPath. Tutti i diritti riservati.
</footer>


