<p>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span style="color: black; ">MuniciPath</span>
      <span class="spacer"></span>
        <button mat-icon-button [routerLink]="['']" [ngClass]="{'home': isHomePage()}">
          <mat-icon class="icon" [ngClass]="{'home': isHomePage()}">
            home
          </mat-icon>
        </button>
        <button mat-icon-button (click)="liked()" [ngClass]="{'home': like}">
          <mat-icon class="icon" [ngClass]="{'home': like}">
            favorite
          </mat-icon>
        </button>
        <button mat-icon-button (click)="share()" >
          <mat-icon style="color: black;">
            share
          </mat-icon>
        </button>
    </mat-toolbar-row>
  </mat-toolbar>
</p>
<router-outlet></router-outlet>



