.menubutton{
    margin-left: 10px;
}


.footercontent{
    color: azure;
}

.icon{
    color:black
}

.selected {
    background-color: rgb(66, 16, 16);
    color:rgb(255, 33, 81);
}
.black{
    color:black;
}

footer {
    text-align: center;
    padding: 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    color:rgb(208, 208, 208);
}
