<h1 style="text-align: center;">Comune di {{this.comune? this.comune.name : ''}} - {{this.comune ? this.comune.cap : ''}}</h1>
<div style="display:flex; height: 88%;">
    <div id="map" class="half">
    </div>
    <div class="half text">
        <div *ngIf="this.inPost; then bloccopost else bloccopoint"></div>
        <ng-template #bloccopost>
            <div>
                <button mat-button [matMenuTriggerFor]="menu">
                    <mat-icon> 
                        settings
                    </mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item [routerLink]="['/updatepost']" [queryParams]="{postId: post.id}">Modifica</button>
                    <button mat-menu-item [routerLink]="['/deletepost']" [queryParams]="{postId: post.id}">Elimina</button>
                </mat-menu>
            </div>
            <h2 >{{this.post.title}}</h2>
            <h3 [style.background-color]= getColor(post) style="color:black">{{getItalianName(this.post)}}</h3>
            <div *ngIf="this.post.meteo !== '?' ">
                <img style="transform: translate(1200%, -40px);" [src]=this.post.meteo>
            </div>
            <p>Autore: {{this.post.ofCity ? "Comune di " + this.comune.name : this.post.author}}</p>
            <div *ngIf="post.type === 'EVENT'">
                <p>Inizio: {{rightFormatDate(this.post.startTime)}}</p>
            </div>
            <div *ngIf="post.type === 'EVENT' || post.type === 'CONTEST' ">
                <p>Fine: {{rightFormatDate(this.post.endTime)}}</p>
            </div>
            <div *ngIf="this.post.text !== null && this.post.text !== ''">
                <p class="cool-border">{{this.post.text}}</p>
            </div>
        </ng-template>
        <ng-template #bloccopoint>
            <div *ngIf="this.point">
                <div *ngIf="this.canMake">
                    <button mat-icon-button  class="center-button" [routerLink]="['/makepost', this.comune.id, this.point.pos.lat, this.point.pos.lng]">
                        <mat-icon> 
                            add
                        </mat-icon>
                    </button>
                </div>
                <div *ngFor="let post of this.point.posts">
                    <p [routerLink]="['/city', this.comune.id]" [queryParams]="{point: post.pointId, post: post.id}">
                        {{post.title}}
                    </p>
                    <mat-divider></mat-divider>
                </div>
            </div>
        </ng-template>
    </div>
</div>
