a, h1, h2, h3, p{
    text-decoration: none;
    color: black;
}

#map {
    height: 80%; 
    width: 50%;
    border-radius: 20px;
}
.half{
    flex: 46%;
    margin: 1%;
}
.text{
    position: relative;
    border: 2px solid black;
    border-radius: 10px;
    padding: 20px;
    height: 74%; 
}

.down {
    position: absolute;
    bottom: 2%;
    width: 80%;
    left: 10%;
    height: 3%;
}
h3{
    border-radius: 10px;
    text-align: center;
    width: 50%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
h2{
    text-align: center;
}
.center-button{
    background-color: rgb(30,136,229);
    margin-left: 45%;
}
.cool-border{
    border: 2px solid black;
    border-radius: 10px;
    padding: 20px;
}
.box{
    display:flex; 
    height: 88%;
}
@media screen and (max-width: 600px) {
    .box{
        display: block;
    }
    .half {
        flex: 100%;
        margin: 0;
    }
    #map {
        width: 100%;
    }
}
