<div style="display:flex; height: 100%;">
    <div class="half text">
        <form class="container" [formGroup]="myForm">
            <h1 style="color:white; text-align: center;">Modifica il Comune</h1>
            <div class="container">
                <mat-form-field>
                    <mat-label>Nome del Comune</mat-label>
                    <input matInput [value]=name formControlName="txtNomeDelComune">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Curatore</mat-label>
                    <input matInput [value]=curator formControlName="txtCuratore">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>CAP</mat-label>
                    <input matInput [value]=cap formControlName="txtCap">
                </mat-form-field>
                <button type="submit" class="btn" (click)="modifica()">Modifica</button>
            </div>
        </form>
    </div>
    <div id="map" class="half">
    </div>
</div>


