<form class="container" [formGroup]="myForm">
    <h1 style="color:rgb(0, 0, 0); text-align: center;">Inserisci un nuovo Comune</h1>
    <div class="container">
        <mat-form-field>
            <mat-label>Nome del Comune</mat-label>
            <input matInput required formControlName="txtNomeDelComune">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Curatore</mat-label>
            <input matInput required formControlName="txtCuratore">
        </mat-form-field>
        <mat-form-field>
            <mat-label>CAP</mat-label>
            <input matInput required formControlName="txtCap">
        </mat-form-field>
       
        <button type="submit" class="btn" (click)="salva()">Salva</button>
    </div>
</form>

